.startlist {
	min-width: 50px;
	padding: 20px 10px;
	border: 1px solid black;
	border-radius: 5px;
	list-style-type: none;
	height: 335px;
	background-color: #b7c5ff;
}

.startlist2 {
	min-width: 90px;
	padding: 20px 10px;
	border: 1px solid black;
	border-radius: 5px;
	list-style-type: none;
	margin-top: 0px;
}